
<ng-container *ngIf="isLoggedIn ; else showSignIn">
<button>Go to cart</button>
  <app-product-list></app-product-list>
</ng-container>

<ng-template #showSignIn >
  <div class="form-box">
    <div class="container" [ngClass]="{ change: isSignup }">
      <div class="forms-container">
        <app-signup-form></app-signup-form>
        <app-signin-form></app-signin-form>
      </div>
      <div class="intros-container">
        <app-signin-intro (toggleSigninForm)="onToggleForm()"></app-signin-intro>
        <app-signup-intro (toggleSignupForm)="onToggleForm()"></app-signup-intro>
      </div>
    </div>
  </div>

</ng-template>
<router-outlet></router-outlet>

